{% extends "base.html" %}

{% block content %}
    <h2>Welcome to the Epic Seven Database....Currently in development, come back later!</h2>
    <ul id='updates'>
    	<li>{{num_chars_added}} Characters have been added...</li>
    	<li>{{num_skills_added}} Skills have been added...</li>
    	<li>Currently developing backend API in Python + Django REST Framework</li>
    	<li>GitHub Repo will be available next week! </li>
    	<li>If you are savvy on frontend, send me an email: 
    		<a href="mailto:rroda001@fiu.edu?Subject=E7%20Help" target="_top">rroda001@fiu.edu</a>
    	</li>
    </ul>
{% endblock content %}